h1{
	text-align: center;
	font-size: xx-large;
	background: none;

}
.menu{
	float: right;
	list-style: none;
	padding:1;
	margin: 1;
	display: flex;
	gap: 5px;

}
.menu li {
	flex-shrink: 0;

}
.intro{
	max-width: 600px;
	margin: 40px auto;
	padding: 30px;
	background-color: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgb(0, 0, 0. 0.1);
	display: flex;
	flex-direction: column;
	gap: 5px;
}
about{
	font-size: large;
}
footer{
	text-align: center;
}
h2{
	text-decoration: underline;
}